<form class="bg-secondary w-50 p-3" >
    <h5>Admin Giriş</h5>
    <div class="mb-3">
      <label for="exampleInputUser" class="form-label" #kullaniciAdi>Kullanıcı Adı</label>
      <input type="user" class="form-control" id="exampleInputUser">
    </div>  
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"#sifre>Şifre</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>   
    <button type="submit" class="btn btn-outline-dark btn-block">Giriş Yap</button>
  </form>
 