<div class="py-5 text-center">
    <div class="row g-3">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Sepetiniz</font>
                    </font>
                </span>
                <span class="badge bg-secondary rounded-pill">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">adet</font>
                    </font>
                </span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">urun adı</font>
                            </font>
                        </h6>                       
                    </div>
                    <span class="text-muted">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">fiyat</font>
                        </font>
                    </span>
                    <div class="text-success">
                    </div>                    
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Toplam (USD)</font>
                        </font>
                    </span>
                    <strong>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">20 $</font>
                        </font>
                    </strong>
                </li>
            </ul>
        </div>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Fatura Adresi</font>
                </font>
            </h4>
            <form class="needs-validation" novalidate="">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">İsim</font>
                            </font>
                        </label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Soyadı</font>
                            </font>
                        </label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="username" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"></font>
                            </font>
                        </label>                        
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">E-posta </font>
                            </font><span class="text-muted">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">(İsteğe bağlı)</font>
                                </font>
                            </span>
                        </label>
                        <input type="email" class="form-control" id="email" placeholder="siz@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="address" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Adres</font>
                            </font>
                        </label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Ana Cadde" required="">
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="address2" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Adres 2 </font>
                            </font><span class="text-muted">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">(İsteğe Bağlı)</font>
                                </font>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="address2" placeholder="Daire veya süit">
                    </div>
                </div>
                <hr class="my-4">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="same-address">
                    <label class="form-check-label" for="same-address">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Gönderim adresi fatura adresimle aynı</font>
                        </font>
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="save-info">
                    <label class="form-check-label" for="save-info">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Bu bilgiyi bir dahaki sefere kaydedin</font>
                        </font>
                    </label>
                </div>
                <hr class="my-4">
                <h4 class="mb-3">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Ödeme</font>
                    </font>
                </h4>
                <div class="my-3">
                    <div class="form-check">
                        <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked=""
                            required="">
                        <label class="form-check-label" for="credit">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Kredi kartı</font>
                            </font>
                        </label>
                    </div>
                    <div class="form-check">
                        <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                        <label class="form-check-label" for="debit">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Banka kartı</font>
                            </font>
                        </label>
                    </div>
                    <div class="form-check">
                        <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                        <label class="form-check-label" for="paypal">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">PayPal</font>
                            </font>
                        </label>
                    </div>
                </div>
                <div class="row gy-3">
                    <div class="col-md-6">
                        <label for="cc-name" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Karttaki isim</font>
                            </font>
                        </label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Kartta görüntülendiği şekliyle tam ad</font>
                            </font>
                        </small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="cc-number" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Kredi Kartı Numarası</font>
                            </font>
                        </label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Son</font>
                            </font>
                        </label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">CVV</font>
                            </font>
                        </label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Ödemeye devam et</font>
                    </font>
                </button>
            </form>
        </div>
    </div>